<link rel="stylesheet" href="/styles.css">

<h1>Employee Details</h1>

<p>Logged in as: {{username}}</p>
<a href="/logout">Logout</a>

<p>Name: {{employee.name}}</p>
<p>Phone: {{employee.phone}}</p>

{{#if employee.photoFilename}}
  <img src="/employee/{{employee._id}}/photo" alt="Employee photo" width="150">
{{/if}}

<br><br>

<a href="/employee/{{employee._id}}/edit">Edit Details</a>

<br><br>

<h2>Shifts</h2>

<table border="1" cellpadding="6">
  <tr>
    <th>Date</th>
    <th>Start Time</th>
    <th>End Time</th>
  </tr>

  {{#each shifts}}
    <tr>
      <td>{{this.date}}</td>
      <td class="{{#if this.morning}}morning{{/if}}">{{this.startTime}}</td>
      <td>{{this.endTime}}</td>
    </tr>
  {{/each}}
</table>

<br>
<a href="/">Back</a>